<div class="container-fluid g-0" id="container">
    <app-dashboard></app-dashboard>
    <div class="container my-5" id="req">
        <h1 class="mb-3 text-white">Edit Requête</h1>
        <div class="row">
            <div class="col-6">  
                <form #form="ngForm" (ngSubmit)="updateRequete()">
                    <div class="mb-3">
                        <label for="num_Identification" class="form-label text-white">ID</label>
                        <input type="text" class="form-control" id="num_Identification" readonly name="num_Identification"
                            [(ngModel)]="requeteDetails.num_Identification">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label text-white">Description</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="description" id="description" value="Soft" checked [(ngModel)]="requeteDetails.description">
                            <label class="form-check-label text-white" for="description">Soft</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="description" id="description" value="Hard" [(ngModel)]="requeteDetails.description">
                            <label class="form-check-label text-white" for="description">Hard</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="date_prise_en_charge" class="form-label text-white">Date Prise en Charge</label><br>
                        <input type="datetime" class="form-control" id="date_prise_en_charge" name="date_prise_en_charge"
                            [(ngModel)]="requeteDetails.date_prise_en_charge" name="date_prise_en_charge" required #datepriseVar= "ngModel" [ngClass]="{'is-invalid': datepriseVar.touched && !datepriseVar.valid}">
                        <div class="invalid-feedback">
                            <span *ngIf="datepriseVar.errors?.['required']">
                                *Ajouter une Date Prise en Charge *
                            </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="etat_Requete" class="form-label text-white">État de Requête</label>
                        <select class="form-select" id="etat_Requete" name="etat_Requete" [(ngModel)]="requeteDetails.etat_Requete" name="etat_Requete" required>                   
                            <option value="Initiale">Initiale</option>
                            <option value="En cours">En cours</option>
                            <option value="Assigné">Assigné</option>
                            <option value="Fait">Fait</option>
                            <option value="Clôturé">Clôturé</option>
                        </select>                      
                    </div>
                    <div class="mb-3">
                        <label for="administrateur_ID" class="form-label text-white">Administrateur</label>
                        <select class="form-select" id="administrateur_ID" name="administrateur_ID" [(ngModel)]="requeteDetails.administrateur_ID" name="administrateur_ID" required #adminVar= "ngModel" [ngClass]="{'is-invalid': adminVar.touched && !adminVar.valid}">                   
                            <option *ngFor="let adm of arayadmin" value="{{adm.fonctionnaire_ID}}">{{adm.prenom}} {{adm.nom}}</option>
                        </select>
                        <div class="invalid-feedback">
                            <span *ngIf="adminVar.errors?.['required']">
                                *Choisissez l'Administrateur*
                            </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="technicien_ID" class="form-label text-white">Technicien</label>
                        <select class="form-select" id="technicien_ID" name="technicien_ID" [(ngModel)]="requeteDetails.technicien_ID" name="technicien_ID" required #techVar= "ngModel" [ngClass]="{'is-invalid': techVar.touched && !techVar.valid}">                   
                            <option *ngFor="let tech of araytech" value="{{tech.fonctionnaire_ID}}">{{tech.prenom}} {{tech.nom}}</option>
                        </select>
                        <div class="invalid-feedback">
                            <span *ngIf="techVar.errors?.['required']">
                                *Choisissez le Technicien*
                            </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="fonctionnaire_ID" class="form-label text-white">Fonctionnaire</label>
                        <select class="form-select" id="fonctionnaire_ID" name="fonctionnaire_ID" [(ngModel)]="requeteDetails.fonctionnaire_ID" name="fonctionnaire_ID" required #foncVar= "ngModel" [ngClass]="{'is-invalid': foncVar.touched && !foncVar.valid}">                   
                            <option *ngFor="let fonc of arayfonc" value="{{fonc.fonctionnaire_ID}}">{{fonc.prenom}} {{fonc.nom}}</option>
                        </select>
                        <div class="invalid-feedback">
                            <span *ngIf="foncVar.errors?.['required']">
                                *Choisissez le Fonctionnaire*
                            </span>
                        </div>
                    </div><br>
                    <button type="submit" class="btn btn-primary mr-5">Modifier <i class="bi bi-pencil-square"></i></button>
                    <button type="button" class="btn btn-danger"
                        (click)="DeleteRequete(requeteDetails.num_Identification)">Supprimer <i class="bi bi-trash3"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
