<div class="container-fluid g-0" id="container">
    <app-dashboard></app-dashboard>
    <div class="container my-5" id="equipe">
        <h1 class="mb-3 text-white">Add Equipement</h1>
        <div class="row">
            <div class="col-6">  
                <form #form="ngForm" (ngSubmit)="CreateEquipement()">
                    <div class="mb-3">
                        <label for="archivee" class="form-label text-white">Archivée</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="archivee" id="archivee" value="false" checked [(ngModel)]="addequipementRequest.archivee">
                            <label class="form-check-label text-white" for="archivee">Non</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="archivee" id="archivee" value="true" [(ngModel)]="addequipementRequest.archivee">
                            <label class="form-check-label text-white" for="archivee">Oui</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="num_Serie" class="form-label text-white">Num Série</label>
                        <input type="text" class="form-control" id="num_Serie" name="num_Serie"
                            [(ngModel)]="addequipementRequest.num_Serie" name="num_Serie" required maxlength="10" #num_SerieVar= "ngModel" [ngClass]="{'is-invalid': num_SerieVar.touched && !num_SerieVar.valid}">
                        <div class="invalid-feedback">
                            <span *ngIf="num_SerieVar.errors?.['required']">
                                *Entrez le Numéro de Serie*
                            </span>
                            <span *ngIf="num_SerieVar.errors?.['maxlength']">
                                *Maximum 10 charactères*
                            </span>
                        </div>
                    </div>
                    <div class="mb-3"> 
                        <label for="iD_Type" class="form-label text-white">Type d'équipement</label>
                        <select class="form-select" id="iD_Type" name="iD_Type" [(ngModel)]="addequipementRequest.iD_Type" name="iD_Type" required #typeVar= "ngModel" [ngClass]="{'is-invalid': typeVar.touched && !typeVar.valid}">                   
                            <option *ngFor="let ty of typeequi" value="{{ty.iD_Type}}">{{ty.nom_Type}}</option>
                        </select>
                        <div class="invalid-feedback">
                            <span *ngIf="typeVar.errors?.['required']">
                                *Choisissez Un Type d'équipement*
                            </span>
                        </div> 
                    </div>
                    <div class="mb-3">
                        <label for="num_Marche" class="form-label text-white">Marché</label>
                        <select class="form-select" id="num_Marche" name="num_Marche" [(ngModel)]="addequipementRequest.num_Marche" name="num_Marche" required #marcheVar= "ngModel" [ngClass]="{'is-invalid': marcheVar.touched && !marcheVar.valid}">                   
                                <option *ngFor="let mar of marche" value="{{mar.num_Marche}}">{{mar.num_Marche}} - {{mar.date_marche}} - {{mar.fournisseur}}</option>
                        </select>
                        <div class="invalid-feedback">
                            <span *ngIf="marcheVar.errors?.['required']">
                                *Choisissez Un Marché*
                            </span>
                        </div> 
                    </div>
                    <div class="mb-3">
                        <label for="iD_Caracteristique" class="form-label text-white">Caractéristique</label>
                        <select class="form-select" id="iD_Caracteristique" name="iD_Caracteristique" [(ngModel)]="addequipementRequest.iD_Caracteristique" name="iD_Caracteristique" required #caracteristiqueVar= "ngModel" [ngClass]="{'is-invalid': caracteristiqueVar.touched && !caracteristiqueVar.valid}">                   
                            <option *ngFor="let car of caractere" value="{{car.iD_Caracteristique}}">{{car.cpu}} - {{car.memoire_RAM}} - {{car.disque_dur}} - {{car.vitesse}}</option>
                        </select>
                        <div class="invalid-feedback">
                            <span *ngIf="marcheVar.errors?.['required']">
                                *Choisissez Un Caractéristique*
                            </span>
                        </div>
                    </div><br>
                    <button type="submit" class="btn btn-success">Ajouter <i class="bi bi-plus-circle"></i> </button>
                </form>
            </div>
        </div>
    </div>
</div>
