<div class="container-fluid g-0" id="container">
    <app-dashboard></app-dashboard>
    <div class="container my-5" id="equipe">
        <h1 class="mb-3 text-white">Equipements</h1>
        <input class="form-control" type="search" placeholder="Rechercher" aria-label="Search" [(ngModel)]="term">
        <br>
        <table class="table table-hover" *ngIf="equipements && equipements.length > 0">
            <thead class="table-secondary">
                <tr>
                    <th scope="col"># </th>
                    <th scope="col">Archivée</th>
                    <th scope="col">Num Série</th>
                    <th scope="col">ID Type</th>
                    <th scope="col">Num Marché</th>
                    <th scope="col">ID Caractéristique</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let equipement of equipements | FilterPipePipe: term | paginate:{itemsPerPage:8,currentPage:p}">
                    <th scope="row">{{equipement.equipement_ID}}</th>
                    <td>{{equipement.archivee}}</td>
                    <td>{{equipement.num_Serie}}</td>
                    <td>{{equipement.iD_Type}}</td>
                    <td>{{equipement.num_Marche}}</td>
                    <td>{{equipement.iD_Caracteristique}}</td>
                    <td><a [routerLink]="['edit', equipement.equipement_ID]">Edit</a></td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="!equipements || equipements.length <= 0" class="text-white">Aucun Equipement Trouvé</p>
        <div id="paginate">
            <pagination-controls (pageChange)="p =$event"></pagination-controls>
        </div>
    </div>
</div>
