<div class="container-fluid g-0" id="container">
    <app-dashboard></app-dashboard>
    <div class="dashboard" id="dash">
        <div class="card" style="background-color: #026cdda0;">
            <i class="bi bi-people-fill"></i>
            <h2>Nombre des Fonctionnaires</h2>
            <p>{{coufonc}}</p>
        </div>

        <div class="card" style="background-color: #e1020297;">
            <i class="bi bi-wrench-adjustable"></i>
            <h2>Nombre des Pannes</h2>
            <p>{{nbnotc}}</p>

        </div>

        <div class="card" style="background-color: #00c42e89;">
            <i class="bi bi-check2-square"></i>
            <h2>Nombre des Pannes Résolues</h2>
            <p>{{nbc}}</p>
        </div>

        <div class="card" style="background-color: #e8970094;">
            <i class="bi bi-pc-display"></i>
            <h2>Nombre d'Equipements</h2>
            <p>{{countequi}}</p>

        </div>
    </div>

</div>